.home > div {
    @apply justify-center align-middle flex-col flex-1 p-5;
}

.home .hero {
    background-image: url('../assets/images/bg-01.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    position: relative;
}

.home .hero::after {
    content: '';
    background-color: black;
    opacity: 0.1;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    position: absolute;
}
