.app {
  @apply flex h-full w-full relative;
}

.app > div {
  @apply justify-center align-middle flex-col p-5;
}

.app .hero {
  @apply hidden relative flex-initial w-[350px];
  @apply bg-black bg-no-repeat bg-cover bg-center;
  @apply md:flex;
  background-image: url('./assets/images/bg-01.jpg');
}

.app .hero::before {
  @apply bg-black opacity-50 h-full absolute w-full top-0 left-0 z-0;
  content: '';
}

.app .details {
  @apply p-0 relative;
  @apply flex flex-1 items-center w-full overflow-hidden h-full;
  @apply bg-gradient-to-r from-cyan-500 to-blue-500;
  @apply md:flex-row;
}

.app .details > * {
  @apply mt-auto md:mt-0;
}

.app .outlet {
  @apply w-full h-full overflow-y-auto overflow-x-hidden p-5 pt-10;
  @apply md:pt-[85px];
  scrollbar-width: thin;
}